{
  "branches": [
    "main",
    "+([0-9])?(.{+([0-9]),x}).x",
    {
      "name": "feature/**",
      "prerelease": "${name.split('/').slice(0, 2).join('-').toLowerCase()}",
      "channel": "feature"
    },
    {
      "name": "hotfix/**",
      "prerelease": "${name.split('/').slice(0, 2).join('-').toLowerCase()}",
      "channel": "hotfix"
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/git",
    "@semantic-release/github"
  ],
  "tagFormat": "${version}"
}
